<footer class="footer footer--color-lm">
    <div>
        <button class="btn btn--color-lm btn--change-mode btn--footer">
            Dunkler Modus
        </button>
    </div>
    <div class="footer--nav-name">
        <nav class="footer--nav">
            <a href="/datenschutz" class="footer--nav-a a--color-lm"
                >Datenschutz</a
            >
            <a href="/impressum" class="footer--nav-a a--color-lm">Impressum</a>
        </nav>
        <div class="footer--name">AHF</div>
    </div>
</footer>
