<footer class="footer footer-other-pages">
    <div>
        <button class="btn a--color-plain btn--footer">
            <a href="/" class="footer--timer">Timer</a>
        </button>
    </div>
    <div class="footer--nav-name">
        <nav class="footer--nav">
            <a href="/datenschutz" class="footer--nav-a a--color-plain"
                >Datenschutz</a
            >
            <a href="/impressum" class="footer--nav-a a--color-plain"
                >Impressum</a
            >
        </nav>
        <div class="footer--name">AHF</div>
    </div>
</footer>
